body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f8f8;
        color: #000000;
        background:url(background.png);
        
    }
    
    
    .container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }
    
    header {
        background-color: #4f4747;
        padding: 20px 0;
        border-bottom: 1px solid #f2eaea;
    }
    
    header .logo {
        width: 150px;
        height: auto;
        vertical-align: middle;
    }
    
    header nav {
        display: inline-block;
        float: right;
        line-height: 60px;
    }
    
    header nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    header nav ul li {
        display: inline-block;
        margin-left: 20px;
    }
    
    header nav ul li a {
        text-decoration: none;
        color: #fcefef;
        font-weight: bold;
    }
    
    .hero {
        background: url('../images/hero.jpg') no-repeat center center/cover;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #0e0c0c;
        padding: 70px;
    }
    
    .hero h1 {
        font-size: 3rem;
    }
    
    .hero p {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    
    .hero .btn {
        display: inline-block;
        background-color: #2d3236;
        border: #1d1e1d solid 2px;
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    
    .hero .btn:hover {
        background-color: #ffffffba;
        color: #0e0c0c;
    }
    
    footer {
        background-color: #1d1e1d;
        color: #fff;
        text-align: center;
        padding: 30px;
        position: absolute;
        width: 100%;
    }
    
    .gallery {
        padding: 20px 0;
    }
    
    .gallery .container {
        text-align: center;
    }
    
    .gallery h1 {
        margin-bottom: 40px;
        font-size: xx-large;
    }
    
    .grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    
    .gallery article {
        background-color: #fff;
        border: 1px solid #eee;
        padding: 20px;
        width: calc(33.333% - 40px);
        box-sizing: border-box;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        margin-bottom: 20px;
    }
    
    .gallery article img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    
    .gallery article h2 {
        margin: 0;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    
    .gallery article p {
        font-size: 1rem;
    }
    
    .gallery article:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    